<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boadme">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".displayDetailsB" />
        <activity android:name=".updateB" />
        <activity android:name=".UserListB" />
        <activity android:name=".getDetails"/>

        <activity android:name=".Boardinglist_homepageActivity">

        </activity>
        <activity android:name=".Hostallist_homepageActivity" >

        </activity>
        <activity android:name=".Admin_panalActivity" />
        <activity android:name=".HomepageActivity" >

        </activity>
        <activity android:name=".User_registerActivity" />
        <activity android:name=".User_loginActivity">


        </activity>
        <activity android:name=".Hostal_listviewActivity" />
        <activity android:name=".Edit_hostalActivity" />
        <activity android:name=".Addhostal" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Feedback_listviewActivity" />
        <activity android:name=".Edit_feedbackActivity" />
        <activity android:name=".Addfeedback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".AddRate"/>


    </application>

</manifest>